 <html>
<head>

</head>
<body>
    <h1>
      <%= @message unless @message.nil? %>
    </h1>
    <center><h5>Send SMS</h5></center>
    <center><form name="sms_form" action="send_sms" method="post">
      Please enter 10-digit phone number below: <br><input type="text" name="phone_number"> <br/>
      <br>Enter your message below: <br><input type="text" name="message"> <br/>
     <!-- Password: <input type="password" name="password"> <br/> -->
      <br><input type="submit" value="Send SMS">
    </form></center>
</body>
</html>