 <html>
<head>

</head>
<body>
    <h1>
      <%= @message unless @message.nil? %>
    </h1>
    <h5><center>Send SMS</center></h5>
    <center><form name="sms_form" action="send_sms" method="post"></center>
      <center>Phone number (10 digits): <input type="text" name="phone_number"></center> <br/>
      <center>Message: <input type="text" name="message"> <br/></center>
     <!-- Password: <input type="password" name="password"> <br/> -->
      <center><input type="submit" value="Send SMS"></center>
    </form>
</body>
</html>