<html>
<head>
</head>
<body>
<center/><h2>SMS sent!</h2></center>
<%= @sms_reply.inspect %>

    <h1>
      <%= @message unless @message.nil? %>
    </h1>
    <center><h3>Send another?</h3></center>
    <center><form name="sms_form" action="send_sms" method="post">
      Please enter 10-digit phone number below: <br><input type="text" name="phone_number"> <br/>
      <br>Enter your message below: <br><input type="text" name="message"> <br/>
     <!-- Password: <input type="password" name="password"> <br/> -->
   <br><input type="submit" value="Send">
    </form></center>


</body>
</html>